@font-face {
  font-family: 'Simplifica';
  src: url('../dist/fonts/simplifica.ttf')  format('truetype');
}

@font-face {
  font-family: 'Sertig';
  src: url('../dist/fonts/Sertig.otf')  format('truetype');
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../dist/fonts/CenturyGothicRegular.ttf')  format('truetype');
}

.ui-loader {
	display: none;
}

.logo {
  	text-align: center;
  	padding-top: 30dvh;
  	padding-bottom: 3dvh;
	width: 100%;
}

.logo img {
	width: 100%;
	max-width: 1000px;
}

/* Nav */

.navbar-brand {
	width: 130px;
	margin-top: 5px;
}

.navbar-brand img {
	width:100%;
}

.navbar-default {
	background-color: #fff;
}

.navbar-default ul {
	background-color: #fff;
	text-align: left;
}

.navbar-default li {
	margin-left: 0;
	margin-right: 0;
}

.navbar-default a {
	color: #000;
	font-family: 'Simplifica', sans-serif;
	font-size: 2.0em;
	padding: 5px 10px 2px;
	text-transform: uppercase;
	line-height: 1;
}

.navbar-default .navbar-nav > li > a {
	padding-bottom: 10px;
	margin-bottom: 5px;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	max-height: 80vh;
}

.navbar-default .navbar-nav > li:hover > .nav-button {
	color: #fff;
	background-color: #C6C6C6;
	border-radius: 3px;
}

.nav-button-active {
	color: #fff !important;
	background-color: #C6C6C6 !important;;
	border-radius: 3px !important;;
}

.icon {
	font-size: 0.8em;
	height: 20px;
	margin-left: 5px;
	margin-right: 5px;
	opacity: 0.5;
}

/* Carousel */

.carousel-control {
	display:none;
}

.carousel {
	max-width: 1000px;
	display:block;
	overflow:auto;
	margin:0 auto;
	padding-left: 25px;
	padding-right: 25px;
}

/* Content */

.tagline {
	font-family: 'Sertig', sans-serif;
	text-align: center;
}

.tagline a {
	font-size: 3em;
	color: #5e5e5e;
}

.tagline a:hover {
	color: #000;
	text-decoration: none;
}

.editorial {
	font-family: 'Sertig', sans-serif;
	font-size: 1.3em;
	text-align: justify;
	background-position: bottom; 
	background-repeat: no-repeat;
    background-size: 100px auto;
    background-image: url('../img/logo-emcparis-small.png') ;
    padding-bottom: 120px;
    padding-left: 3px;
    margin-bottom: 30px;
}

.editorial h2 {
	font-size: 2.2em;
	text-transform: uppercase;
	text-align: left;
}

.editorial h3 {
	font-size: 2em;
	padding-top: 0.2em;
}

.green-line {
	border-left: thick solid #C6C6C6;
	padding-left: 10px;
}

.editorial a {
	color: #555;
}

.guides a:hover,
.guides a:focus {
	-webkit-filter: invert();
}

.btn-custom {
	background: #C6C6C6;
	color: #fff;
}

.btn-custom:disabled {
	background: #ddd;
	color: #777;
}

.btn-custom:active {
	background: #83bfa2;
	color: #fff !important;
}

.alert-custom {
	background: #C6C6C6;
	color: #fff;
}

.alert-custom a {
	color: #fff
}

.guide-thumb {
	background: #C6C6C6;
}

.guide-thumb img {
	width: 100%;
	opacity: 80%;
}

/* Talents page */
.talent-pic, .talent-thumb {
	position: relative;
	text-align: center;
	color: white;
	padding: 0;
	height: auto;
}

.talent-pic img {
	width: 100%;
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.talent-thumb img {
	width: 100%;
}

.talent-pic:hover img {
	-webkit-filter: grayscale(0);
	filter: none;
	cursor: pointer;
}

.talent-pic-active img {
	-webkit-filter: grayscale(0);
	filter: none;
}

.talent-pic-caption, .talent-thumb-caption {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -10%);
	text-align: center;
	line-height: 1;
	color: white;
	font-family: 'Century Gothic', sans-serif;
	text-transform: uppercase;
	font-weight: bolder;
	background-color: rgba(50, 50, 50, 0.5);
	font-size: 0.7em;
}

.talent-thumb-caption {
	font-size: 0.6em;
}

.talent-text {
	padding: 5px;
	font-size: 1em;
}

.spacing {
	margin-bottom: 25px;
}

/* Responsive */
@media (min-width: 900px) {
	.navbar-nav li {
		display: inline-block;
		float: none;
	}
}

@media (max-width: 900px) {
	.navbar-header {
		float: none;
		margin-bottom: 3px;
	}

	.navbar-left, .navbar-right {
		float: none !important;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}

	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}

	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-nav {
		float: none !important;
		margin-top: 7px;
	}

	.navbar-nav > li {
		float: none;
	}

	.navbar-default .navbar-nav > li > a {
		padding-bottom: 5px;
	}

	.navbar-default .navbar-nav > li:hover > .nav-button {
		border-radius: 0;
	}

	.collapse.in {
		display: block !important;
	}

	.tagline h3 {
		padding: 0;
	}
}

@media (max-width: 850px) {
	.talent-pic-caption {
		font-size: 1.5em;
	}

	.talent-thumb-caption {
		font-size: 0.8em;
	}
}

@media (min-width: 900px) and (max-width: 950px) {
	.navbar-default a {
		font-size: 1.9em;
	}
}

@media (max-height: 400px) {
	.logo {
		padding-top: 15dvh;
	}
}


