@font-face {
  font-family: 'Simplifica';
  src: url('../dist/fonts/simplifica.ttf')  format('truetype');
}

@font-face {
  font-family: 'Diner Regular';
  src: url('../dist/fonts/Diner-Regular.ttf')  format('truetype');
}
	
.ui-loader {
	display: none;
}

.logo {
  	text-align: center;
  	padding-top: 10vmin;
}

.logo img {
  	max-width: 500px;
  	width: 40vmax;
}

.logo-footer {
	width:100%;
  	text-align: center;
  	font-family: 'Diner Regular';
	font-size: 50px;
	letter-spacing: 0.1em;
	padding-left: 0.09em;
	padding-top: 10px;
}

.navbar {
	background-color: #fff;
}

.navbar ul {
	background-color: #fff;
	width: 100%;
	text-align: left;
}

.navbar-nav li {
	margin-left: 0px;
	margin-right: 0px;
}

.navbar-default .navbar-nav > li > a {
	padding: 0 0 0 0;
    display: inline-block;
    color: #000;
    line-height: 0px;
}

.navbar-default .navbar-nav > li > a:visited {
    color: #000;
}

.navbar-default .navbar-nav > li:hover > a {
    color: #fff;
}

.navbar-default .navbar-nav > li:hover > a:hover {
    color: #fff;
}


.carousel-control {
	display:none;
}

.carousel {
	max-width: 750px;
	display:block;
	overflow:auto;
	margin:0 auto;
	padding-left: 25px;
	padding-right: 25px;
}

.editorial {
	font-family: 'Simplifica';
	text-align: justify;
	font-size: 24px;
	background-position: bottom; 
	background-repeat: no-repeat;
    background-size: 100px auto;
    background-image: url('../img/logo.png') ;
    padding-bottom: 120px;
    padding-left: 3px;
    margin-bottom: 30px;
}


.editorial h2 {
	font-size: 40px;
	text-transform: uppercase;
	text-align: left;
}

.editorial h4 {
	font-size: 30px;
	font-weight: bold;	
	text-transform: uppercase;
	text-align: left;
	line-height: 1.5;
	padding-top: 15px;
}

.editorial a {
	color: #555;
}

.editorial a:hover,
.editorial a:focus {
  	color: #000;
}

.editorial a:hover,
.editorial a:focus {
    background-color: #999;
    color: #fff;
  	text-decoration: underline;
}

.icon {
	font-size: 20px;
	height: 20px;
	margin-left: 5px;
	margin-right: 5px;
	opacity: 0.5;
}

.btn-custom {
	color: #000;
	background-color: #fff;
	border-color: #fff;
	border-radius: 3px;
	font-family: 'Simplifica';
	font-size: 4.0vmin;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px 10px;
	text-transform: uppercase;
	line-height: 1;	
}

.btn-custom:hover, .btn-custom.hover {
	color: #fff;
	background-color: #bbb;
	border-color: #bbb;
}

.btn-custom:active, .btn-custom.active {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.btn-custom:focus, .btn-custom.focus {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.btn-custom.active.focus, .btn-custom.active:focus, .btn-custom.active:hover, .btn-custom:active.focus, .btn-custom:active:focus, .btn-custom:active:hover, .open>.dropdown-toggle.btn-custom.focus, .open>.dropdown-toggle.btn-custom:focus, .open>.dropdown-toggle.btn-custom:hover {
	color: #fff;
	background-color: #777;
	border-color: #777;

}

.btn-logo {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 10px
}

.btn-logo img {
	height: 16px;
}

.btn:focus,.btn:active {
   outline: none !important;
}

footer {
	width: 100%;
	overflow: auto;
	vertical-align: middle;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
}

footer a {
	border-radius: 5px;
	padding: 10px;
}

footer a:hover {
    background-color: #777;
}

footer img {
	height: 20px;
}

@media (min-width: 1100px) {
	.navbar-nav li {
		display: inline-block;
		float: none;
	}

	.btn-custom {
		font-size: 3.0vmin;
	}
}

@media (max-width: 1100px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
}